---
env:
  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
jobs:
  build:
    name: Build
    runs-on: macos-12
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Remove old directories
        run: rm -rf ~/tmp | rm -rf ~/Library/MobileDevice
        shell: bash
      - name: Install Dependencies
        run: pod install --no-repo-update --verbose
        shell: bash
      - name: Build And Test
        run: xcodebuild -workspace ~/work/ios-emarsys-sdk/ios-emarsys-sdk/EmarsysSDK.xcworkspace -scheme Tests -configuration Debug -destination 'platform=iOS Simulator,name=iPhone 13 Pro' -derivedDataPath ~/tmp test
        shell: bash
      - name: Trigger Sample App Build
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          event-type: build-sample
      - if: ${{ failure() }}
        name: Slack Notification On Error
        uses: megamegax/slack_action@0.2.3
        with:
          actions: '[{ "type": "button", "text": "View actions", "url": "https://github.com/emartech/ios-emarsys-sdk/actions" }]'
          channel: ${{ secrets.SLACK_CHANNEL }}
          job_status: failure
          message: 'Last push build failed! :sob:'
          user_icon: 'https://img.pngio.com/rotten-apple-png-images-vectors-and-psd-files-free-download-on-png-rotten-apple-260_391.png'
          user_name: Emarsys SDK - iOS
name: Last commit build
'on':
  push:
    branches:
      - dev
  workflow_dispatch:
